@import "tailwindcss";

@theme {
  --color-agri-yellow: #F7B500;
  --color-agri-grey: #4E5452;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-black text-white;
  }
}

.mask-image-gradient {
  mask-image: linear-gradient(to top left, black, transparent);
  -webkit-mask-image: linear-gradient(to top left, black, transparent);
}
